.d-none {
    display: none !important;
}

#app-loader #progress-bar {
    width: 320px;
    height: 8px;

    border-radius: 8px;

    background-color: #646464;

    overflow: hidden;
}

#app-loader #progress-bar #p-value {
    width: 0;
    height: 100%;

    background-color: #e7e7e7;

    border-radius: 8px;

    transition: width 200ms ease;
}

.offer-wheel {
    position: relative;

    margin-top: 60px;

    width: auto;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.offer-machine {
    position: relative;

    width: 650px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    z-index: 1;
}

.offer-machine .offer-wheel-wheel {
    width: 100%;
}

.offer-machine .offer-machine-arrows {
    position: absolute;

    left: 0;
    top: 290px;

    width: 625px;

    z-index: 10;
}

.offer-machine .spin-btn {
    position: relative;

    left: 0;
    top: -100px;

    width: -webkit-fit-content;

    width: -moz-fit-content;

    width: fit-content;
    height: auto;

    background-color: transparent;

    outline: none;
}

.offer-machine .spin-btn.active img.disabled-state {
    display: none;
}

.offer-machine .spin-btn.active img.active-state {
    display: inline;

    cursor: pointer !important;
}

.offer-machine .spin-btn img.active-state {
    display: none;
}

.offer-machine .spin-btn img.disabled-state {
    display: inline;
}

.offer-machine .spin-btn label {
    position: absolute;

    left: 50%;
    top: 58px;

    transform: translateX(-50%);

    font-size: 20px;
    color: #ffffff;

    opacity: .5;

    cursor: default !important;
}

.offer-machine .spin-btn.active label {
    opacity: 1 !important;

    text-shadow: 0 0 6px rgba(255, 255, 255, .5) !important;

    cursor: pointer;
}

.offer-machine .spin-btn img {
    width: 260px;

    cursor: default !important;
}

#animation_container {
    position: absolute;

    right: -148px;
    top: 162px;

    transform: scale(0.65);
}

.reel-container {
    position: absolute;

    left: 97px;
    top: 130px;

    width: 462px;
    height: 468px;

    perspective: 2200px;

    z-index: 2;
}

.reel {
    position: absolute;

    width: 100%;
    height: 100%;

    transform: translateZ(-234px) rotateX(0deg);
    transform-style: preserve-3d;

    background-color: #e5eaef;
}
.reel::after {
    position: absolute;

    left: 0;
    top: 0;

    transform: translateY(100%);

    width: 100%;
    height: 50%;

    background-color: #e5eaef;

    content: '';
}

.reel-value {
    position: absolute;

    left: 0;
    top: calc(50% - 38.5px);

    width: 100%;
    height: 77px;

    transform: translateZ(234px) rotateX(0deg);
}

.reel-value:first-child::after {
    position: absolute;

    left: 0;
    top: 50%;

    width: 100%;
    height: 1px;

    display: none;

    background-color: red;

    content: '';
}

.reel-value img {
    width: 100%;
    height: 77px;
}

.reel-arrows {
    position: absolute;
    left: -62px;
    top: 184px;
    width: 585px;

}

.reel-arrows::before {
}

.offer-wheel-modal-overlay {
    position: fixed;

    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 99;
}

.offer-choice-modal {
    position: relative;

    width: 689px;
    height: 390px;

    border: 8px solid #199045;
    border-radius: 35px;

    background-color: #199045;

    overflow: hidden;

    box-shadow: 0 0 80px rgba(0, 0, 0, .8);
}

.offer-choice-modal .off-header {
    width: 100%;
    height: 93px;

    background-color: #129053;
}

.offer-choice-modal .off-header .main-heading {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.offer-choice-modal .off-header .main-heading label {
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
}

.offer-choice-modal .off-header .sub-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.offer-choice-modal .off-header .sub-heading label {
    width: 50%;
    height: 40px;

    display: inline-block;

    font-size: 19px;
    color: #ffffff;
}

.offer-choice-modal .off-body {
    position: relative;

    width: 100%;
    height: calc(100% - 93px);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #d7d5dd;
}

.offer-choice-modal .off-body .off-body-block {
    padding: 17px 45px 48px;

    width: 50%;
    height: 100%;
}

.offer-choice-modal .off-body .off-body-block .off-heading {
    font-size: 19px;
    font-family: 'CrocoBlack' !important;
    font-weight: 900;
    color: #4f4e53;
}

.offer-choice-modal .off-body .off-body-block .off-button {
    margin-top: 15px;

    width: 124px;
    height: 37px;

    border-radius: 8px;

    background-color: #15ac60;
}

.offer-choice-modal .off-body .off-body-block .off-description {
    margin-top: 25px;

    font-size: 12px;
    color: #131313;
    font-weight: 700;
    line-height: 13px;
}

.offer-choice-modal .off-body .off-body-description {
    position: absolute;

    left: 50%;
    bottom: 15px;

    font-size: 16px;
    color: #4f4e53;
    font-weight: 500;

    transform: translateX(-50%);
}

.modal-close-btn {
    position: absolute;

    right: 15px;
    top: 15px;

    cursor: pointer;
}

.off-body::after {
    position: absolute;

    left: 50%;
    top: 23px;

    width: 7px;
    height: 200px;

    border: 1px solid #b2b7ba;
    border-radius: 7px;

    background-color: #c3c8cb;

    box-shadow: inset 0 3px 3px rgba(0, 0, 0, .15);

    content: '';


}

.chosen-offer-modal {
    position: relative;

    width: 613px;
    height: 376px;

    border: 8px solid #199045;
    border-radius: 35px;

    background-color: #199045;

    overflow: hidden;

    box-shadow: 0 0 80px rgba(0, 0, 0, .8);
}

.rules-containet-bb {
    margin-top: 0 !important;
}

.chosen-offer-modal .off-header {
    padding-bottom: 35px;

    width: 100%;
    height: 155px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background-color: #129053;
}

.chosen-offer-modal .off-header small {
    margin-bottom: 25px;

    font-size: 24px;
    color: #ffffff;
}

.chosen-offer-modal .off-header label {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
}

.chosen-offer-modal .off-body {
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;

    width: 100%;
    height: calc(100% - 155px);

    background-color: #d7d5dd;
}

.chosen-offer-modal .off-body p {
    font-size: 18px;
    color: #484444;
}

.chosen-offer-modal .off-body:after {
    display: none;
}

.current-offer {
    position: relative;

    width: 1025px;
    height: auto;
}

.current-offer .current-offer-heading {
    position: absolute;

    left: 50%;
    top: 27px;

    transform: translateX(-50%);

    font-size: 35px;
    font-weight: 900;
    font-family: 'CrocoBlack', sans-serif;
}

.current-offer .offer-name {
    position: absolute;

    left: 50%;
    top: 95px;

    transform: translateX(-50%);

    font-size: 40px;
    font-family: 'CrocoBlack', sans-serif;
    font-weight: 900;
    text-wrap: none;
    white-space: nowrap;
}

.current-offer p {
    position: absolute;

    left: 50%;
    top: 150px;

    width: 80%;

    transform: translateX(-50%);

    font-size: 26px;
    line-height: 30px;
    color: #fff;
}

#offer-history-btn {
    position: absolute;

    left: 50%;
    bottom: 8px;

    transform: translateX(-50%);

    width: 185px;
    height: 51px;

    border-radius: 15px;

    background-color: #f66a37;

    font-size: 21px;
    color: #ffffff;
    font-weight: 900;
    font-family: 'CrocoBlack', sans-serif;
}

.history-container-rrd {
    position: fixed;

    left: 50%;
    top: 85%;

    transform: translateX(-50%) translateY(-100%);

    padding-top: 15px;

    width: 720px;
    height: 520px;

    border: 1px solid #d58c37;
    border-radius: 15px;

    background-color: #19087b;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    box-shadow: 0 0 80px rgba(0, 0, 0, .8);

    z-index: 99;
}

.table-data-heading {
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.history-container-rrd .row {
    width: 33.333%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 16px;
}
.history-container-rrd .table-data-items {
    width: 100%;
    height: calc(100% - 60px);

    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;

    overflow-y: auto;
}

.history-container-rrd .history-close-btn {
    position: absolute;

    right: 15px;
    top: 15px;

    cursor: pointer;
}

.table-data-items .item {
    width: 100%;
    height: 26px;

    margin-bottom: 3px;

    border-radius: 26px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #2d18a4;
}

.table-data-items .item .row:nth-child(2) {
    white-space: nowrap;
    font-size: 14px;
}

#animation_container .frozen-state {
    position: absolute;
    left: 22px;
    top: 34px;
    width: 200px;
    height: 240px;
    overflow: hidden;
    transform: scale(1.2);
}


@media screen and (max-width: 1024px) {
    #animation_container {
        display: none !important;
    }

    .spin-btn {
        top: -60px !important;
        transform: scale(1.4);
    }

    .current-offer {
        transform: scale(0.85);
    }

    .rules-containet-bb {

    }
}

@media screen and (max-width: 720px) {
    .offer-wheel {
        transform: scale(0.7);
    }

    .o-modal {
        transform: scale(0.65);
    }

    .offer-choice-modal p {
        font-size: 16px !important;
    }

    .offer-choice-modal .off-body .off-body-block {
        padding: 10px 25px 25px;
    }

    .current-offer {
        transform: scale(0.6);
    }

    .rules-containet-bb {
        margin-top: 0px !important;
    }

    .div-block-19221 {
        width: 50% !important;
        padding-bottom: 0 !important;
    }

    #offer-wheel-cnt {
        margin-top: 0 !important;
    }
}

@media screen and (max-width: 448px) {
    .offer-wheel {
        transform: scale(0.57);
    }

    .o-modal {
        transform: scale(0.5);
    }

    .offer-choice-modal p {
        font-size: 16px !important;
    }

    .offer-choice-modal .off-body .off-body-block {
        padding: 10px 25px 25px;
    }

    .current-offer {
        transform: scale(0.6);
    }
}
@media screen and (max-width: 375px) {

    #app-loader img {
        transform: scale(0.9);
    }
    #progress-bar {
        transform: scale(0.9);
    }
    .offer-wheel {
        transform: scale(0.5);
    }

    .o-modal {
        transform: scale(0.45);
    }

    .offer-choice-modal p {
        font-size: 16px !important;
    }

    .offer-choice-modal .off-body .off-body-block {
        padding: 10px 25px 25px;
    }

    .current-offer {
        transform: scale(0.55);
    }
}

